<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anytrek.ts3.mapper.OrderItemMapper">
	<select id="getOrderItemListByOrderId" 
		parameterType="java.lang.Integer"
		resultType="com.anytrek.ts3.model.OrderItem">
		<![CDATA[
		select * from t_order_item where order_id = #{orderId} 
		]]>
		<!-- select * from t_order_item -->
		<!-- <trim prefix="where" suffix="" prefixOverrides="and"
			suffixOverrides="">
			<if test="orderId!=null">
				<![CDATA[and order_id = #{orderId}]]>
			</if>
		</trim> -->
	</select>
	
	<update id="deleteItem" parameterType="java.lang.Integer">
		<![CDATA[update t_order_item set flag = -1 where item_id = #{itemId}]]>
	</update>
</mapper>