<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anytrek.ts3.mapper.OrderMapper">
	<select id="getOrderListByParams" 
		parameterType="java.util.HashMap"
		resultType="com.anytrek.ts3.model.Order">
		select * from t_order
		<trim prefix="where" suffix="" prefixOverrides="and"
			suffixOverrides="">
			<if test="invoiceNo!=null">
				<![CDATA[and invoice_no = #{invoiceNo}]]>
			</if>
			<if test="status!=null">
				<![CDATA[and status = #{status}]]>
			</if>
		</trim>
	</select>
	<insert id="insertOrder" 
		parameterType="com.anytrek.ts3.model.Order"
		>
		INSERT INTO t_order(type, customer, description, status, 
		invoice_no, invoice_date, due_date, tracking_no, sales,
		create_time, billing_company, billing_contact, billing_number,
		billing_email, billing_address, shipping_company, shipping_contact,
		shipping_number, shipping_email, shipping_address)
		 VALUES(#{type}, #{customer}, #{description}, 
		#{status}, #{invoiceNo}, #{invoiceDate}, #{dueDate},
		#{trackingNo}, #{sales}, #{createTime}, #{billingCompany}, #{billingContact},
		#{billingNumber}, #{billingEmail}, #{billingAddress}, #{shippingCompany}, 
		#{shippingContact},#{ shippingNumber}, #{shippingEmail}, #{shippingAddress})
		<selectKey resultType="Integer" order="AFTER" 
			keyProperty="orderId">
			SELECT LAST_INSERT_ID() as orderId
			</selectKey>
	</insert>
	<select id="getOrderByOrderId"
		parameterType="java.lang.Integer"
		resultType = "com.anytrek.ts3.model.Order">
		<![CDATA[
			select * from t_order where order_id = #{orderId} 
		]]>
	</select>
	<select id="getLastOrder" resultType="com.anytrek.ts3.model.Order">
		SELECT * FROM t_order ORDER BY order_id DESC LIMIT 1
	</select>
</mapper>