<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anytrek.ts3.mapper.PaymentMapper">
	<select id="getPaymentByInvoiceNo"
		parameterType="java.lang.Integer"
		resultType="com.anytrek.ts3.model.Payment">
		<![CDATA[
		select * from t_payment where invoice_no = #{invoiceNo} LIMIT 1 
		]]>
	</select> 
	<select id="getPaymentByPaymentId"
		parameterType="java.lang.Integer"
		resultType="com.anytrek.ts3.model.Payment">
		<![CDATA[
		select * from t_payment where payment_id = #{paymentId}
		]]>
	</select>
	<select id="getPaymentListByStatus"
		parameterType="java.lang.String"
		resultType="com.anytrek.ts3.model.Payment">
		<![CDATA[
		select * from t_payment where status = #{status} 
		]]>
	</select> 
	<select id="getPaymentListByParams" 
		parameterType="java.util.HashMap"
		resultType="com.anytrek.ts3.model.Payment">
		select * from t_payment
		<trim prefix="where" suffix="" prefixOverrides="and"
			suffixOverrides="">
			<if test="invoiceNo!=null">
				<![CDATA[and invoice_no = #{invoiceNo}]]>
			</if>
			<if test="customer!=null">
				<![CDATA[and customer = #{customer}]]>
			</if>
			<if test="status!=null">
				<![CDATA[and status = #{status}]]>
			</if>
		</trim>
	</select>
	<!-- <select id="getPaymentToVoid"
		parameterType="java.lang.Integer"
		resultType="com.anytrek.ts3.model.Payment">
		<![CDATA[
		select * from t_payment where invoice_no = #{invoiceNo} 
		]]>
	</select> -->

</mapper>