<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anytrek.ts3.mapper.TrkSettingMapper">
	<update id="deleteSetting" parameterType="java.lang.Long">
		<![CDATA[update trk_setting set flag = -1 where device_id = #{deviceId}]]>
	</update>
</mapper>